{% extends 'base.html' %}

<!-- ヘッダー -->
{% block header %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Todo詳細</h1>
    <p class="lead">Todoの詳細を確認しよう</p>
  </div>
</div>
{% endblock header %}

<!-- コンテンツ -->
{% block content %}
<!-- 横幅を良い感じにしてくれるclass -->
<div class="container">
  <div class="alert alert-success" role="alert">
    <h2>{{ object.title   }}</h2>
    <p>期日：{{ object.duedate }}</p>
    <hr>
    <p>{{ object.memo    }}</p>
  </div>
</div>
{% endblock content %}
